doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, voluptatem esse? Maiores esse aut ipsa vel delectus consequatur praesentium rem illo molestias. Optio necessitatibus eaque nemo exercitationem illum cupiditate odio?  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, voluptatem esse? Maiores esse aut ipsa vel delectus consequatur praesentium rem illo molestias. Optio necessitatibus eaque nemo exercitationem illum cupiditate odio?

    h2 Working on my magic tricks
    ul Practice
    li Learn Magic 
    li Practice 
    li Showcase